@tailwind base;

html {
  font-family: Nunito, sans-serif;
}

ul {
  list-style-type: disc;
  padding-left: theme('padding.4');
}


@tailwind components;

@tailwind utilities;

.columns {
	column-width: 350px;
	}

.column {
  display: inline-block;
  column-break-inside: avoid;
  /* Pour Firefox : */
  page-break-inside: avoid;
  /* Pour WebKit : */
  -webkit-column-break-inside: avoid;
}

